<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="icon" href="{{ '/assets/favicon.ico' | relative_url }}" type="image/x-icon">
  <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>

<body>
  {% include header.html %}
  <main class="container">
    {{ content }}
  </main>
  {% include footer.html %}
  <a href="#top" id="back-to-top" class="back-to-top" title="ページトップへ戻る">↑ 上に戻る</a>
</body>

</html>