<div class="welcome-block" aria-labelledby="heading-welcomeblock">
    <h2 class="welcome-title" id="heading-welcomeblock">🌾このサイトについて🌾</h2>
    <p>Stardew Valley の翻訳MOD置き場です。
        英語の勉強をかねつつ、登場人物の雰囲気や言葉のニュアンスを大事にしながら訳しています。
        初心者🔰なので誤訳などは大目に見ていただけると幸いです！<br>
        ※専門用語やスラングの理解には、AIツールや辞書サイトなども活用しています📚<br>
        翻訳ファイルは**自己責任**でご利用ください。</p>
    <p><strong>各MODの個別ページでは、翻訳内容のほかに、元MODの雰囲気やおすすめポイントも紹介しています🙌<br>
            MODを楽しんだら、ぜひMOD作者様のページでEndorsementsを押してください！</strong></p>
    <hr class="welcome-hr">
    <p class="welcome-small-text" lang="en">This site shares fan-made Japanese translation MODs for the popular game "Stardew
        Valley". Here, you can find translations that let you enjoy overseas MODs in Japanese!</p>
</div>