<section id="notes" class="section-block" aria-labelledby="heading-notes">
    <h2 id="heading-notes">注意事項 ⚠️</h2>
    <p class="description notes-description-italic">本サイトおよび翻訳ファイルの管理は{{ site.author_name }}が行っています。無断での転載や再配布はご遠慮ください。<br>
        このサイトは GitHub Pages 上で公開しており、翻訳ファイルや更新履歴は GitHub リポジトリ で管理しています。</p>
    <hr class="notes-hr">
    <ul>
        <li>
            <strong>【翻訳へのご提案について】</strong><br>
            翻訳の誤りや気になる表現などがあれば、GitHubリポジトリから提案（Pull Request）を送っていただいて構いません。<br>
            内容を確認し、反映できそうなものは少しずつ取り入れさせていただきます🌾
            <hr class="notes-hr">
        </li>
        <li><strong>【引き継ぎについて】</strong><br>
            元MODの更新から半年以上、当サイトの翻訳が更新されていない場合は、この翻訳をもとにした再翻訳や再配布を自由に行って構いません。その際は、できれば「当サイトの翻訳をもとにしています」と一言添えていただけるとうれしいです。<br>
            <p class="author-note-small">（つまり、半年以上放置していたら自由に引き継いでOKという方針です）</p>
            <hr class="notes-hr">
        </li>
        <li><strong>【ライセンス】</strong><br>
            翻訳が継続して更新されている間は CC BY-NC-ND 4.0（非営利・改変禁止）、<br>
            半年以上更新がない場合は CC BY-NC-SA 4.0（非営利・継承あり） のもとで利用できます。
            <p class="author-note-small">当サイトで公開している翻訳は、非営利のファン活動として制作しています。翻訳元MODの著作権は、すべて各作者さまに帰属します。</p>
            <hr class="notes-hr">
        </li>
        <li><strong>【取り下げ】</strong><br>翻訳元のMOD作者さまから、配布停止などのご連絡をいただいた場合は、できるだけ早く対応いたします。
            <p class="author-note-small"><span class="fw-bold">[To the Original MOD Authors]</span>
                If the original MOD author requests that a translation be removed or distribution stopped,
                we will promptly respond and take the necessary steps with full respect for your rights.(Some parts were supported by translation tools.:)
                <br>
                This translation was made so that Japanese players can enjoy the mod in their own language,
                just as English speakers already can.
                Respecting every language is part of what inclusion truly means.
            </p>
        </li>
    </ul>
</section>